version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: examen_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: examen
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./examen-backend
    container_name: examen_backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/examen
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  frontend:
    build:
      context: ./examen-frontend
    container_name: examen_frontend
    ports:
      - "4000:4000"
    depends_on:
      - backend

volumes:
  pgdata:
